{
    "presets": [
        ["es2015", {
            "modules": false,
            "loose": true
        }], "react", "stage-0"
    ],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }
    },
    "ignore": [
        "jquery.js",
        "jquery.min.js",
        "angular.js",
        "angular.min.js",
        "react.js",
        "react.min.js",
        "react-dom.js",
        "react-dom.min.js"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }],
    ]
}
